{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In </title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/healthcare.png' %}" type="image/x-icon">
</head>
<body>
  <div class="auth-container">
    <h1>Welcome Back</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <label for="id_username">Username</label>
      {{ form.username }}

      <label for="id_password">Password</label>
      {{ form.password }}

      <button type="submit">Log In</button>
    </form>

    <div class="separator">Or log in with</div>
    <div class="social-buttons">
      <button class="google-btn">
        <img src="{% static 'images/google.svg' %}" alt="Google" />
        Google
      </button>
      <button class="apple-btn">
        <img src="{% static 'images/apple.svg' %}" alt="Apple" />
        Apple
      </button>
    </div>

    <div class="link">
      <p>New here? <a href="{% url 'signup' %}">Create an account</a></p>
    </div>
  </div>
</body>
</html>
